[package]
authors = ["Stefan O'Rear <stefanor@cox.net>"]
name = "smetamath"
version = "3.0.0"

[dependencies]
clap = "2.5.2"
filetime = "0.1.10"
fnv = "1.0.2"

[features]
sysalloc = []

[profile]

[profile.release]
codegen-units = 1
debug = true

[profile.dev]
opt-level = 1
codegen-units = 4
